body {
    background-color: rgb(168, 223, 163);
}

/* Header */

header {
    background: rgb(105, 168, 95);
    height: auto;
}

#NoScam {
    width: 100px;
    height: auto;
}

.HeaderBtns {
    position: relative;
    bottom: 15px;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    background-color: grey;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    border-width: 10px;

}.HeaderBtns:hover {
    transition: 1s;
    background-color: black;
    scale: 1.5;
}